*{
  margin:0px;
}
.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(164, 157, 170);
}

.nav-ul li {
  float: left;
}

.nav-ul li a {
  display: block;
  color: rgb(44, 43, 43);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-ul li a:hover {
  background-color: rgb(44, 43, 43);
  color: antiquewhite;
}